@section Scripts {
    
@Scripts.Render("~/bundles/appFile")

}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Files</h2>
            </div>
            <div class="panel-body">                             
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>FolderName</th>
                            <th>FileName</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: files">
                        
                        <tr>
                            <td data-bind="text: UserName"></td>
                            <td data-bind="text: FolderName"></td>
                            <td data-bind="text: Name"></td>
                            <!-- New code -->
                            <td><small><a href="#" data-bind="click: $parent.getFileDetail">Edit</a></small></td>
                            <td><small><a href="#" data-bind="click: $parent.deleteFile">Delete</a></small></td>
                        </tr>
                        
                    </tbody>
                </table>                                    

            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add File</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addFile">
                    <div class="form-group">
                        <label for="addFolder" class="col-sm-2 control-label">Folder</label>
                        <div class="col-sm-10">
                            <select data-bind="options:folders, optionsText: 'Name', value: newFile.Folder"></select>
                        </div>
                    </div>                    
                    <button type="submit" class="btn btn-default" onclick="myFunction()">Add new file</button>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- ko if:detail() -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit File</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: editFile">
                    <div class="form-group">
                        <input type="hidden" id="FileId" data-bind="value: detail().Id" />
                        <input type="hidden" id="FolderId" data-bind="value: detail().UserId" />

                        <label for="addUser" class="col-md-2 control-label">User</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="addUser" data-bind="value: detail().UserName" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="FileId" data-bind="value: detail().Id" />
                        <input type="hidden" id="FolderId" data-bind="value: detail().FolderId" />

                        <label for="addFolder" class="col-md-2 control-label">Folder</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="addFolder" data-bind="value: detail().FolderName" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editFileName" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="editFileName" data-bind="value:detail().Name" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editFileSize" class="col-md-2 control-label">Size</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" id="editFileSize" data-bind="value:detail().Size" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editFileExtension" class="col-md-2 control-label">Extension</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="editFileExtension" data-bind="value:detail().FileExtension" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editFilePath" class="col-md-2 control-label">Path</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="editFilePath" data-bind="value:detail().Path" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="file" name="upload" id="uploadFile" />
                        </div>
                        <div class="col-md-6">
                            <button id="submit" data-bind="click: btnupload" class="btn btn-default">Upload File</button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Edit File Info</button>
                </form>                

            </div>
        </div>
    </div>
</div>

    <!-- /ko -->
